.seccion-inspiracion-container {
    background-color: #FFD166;
    padding: 50px 0; 
    display: flex;
    justify-content: center;
}

.seccion-inspiracion-card {
    max-width: 800px;
    padding: 90px 20px;
    background-color: #f7f7f7; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.seccion-inspiracion-card h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #000000;
}

.seccion-inspiracion-card p {
    font-size: 1.2em;
    font-style: italic;
    color: #000000;
    line-height: 1.6;
    padding: 0 10px;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    .seccion-inspiracion-card {
        padding: 20px 15px;
        max-width: 90%; 
    }

    .seccion-inspiracion-card h2 {
        font-size: 1.6em;
    }

    .seccion-inspiracion-card p {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .seccion-inspiracion-card {
        padding: 15px 10px;
        max-width: 80%; 
    }

    .seccion-inspiracion-card h2 {
        font-size: 1.4em;
    }

    .seccion-inspiracion-card p {
        font-size: 0.9em;
    }
}
