.seccion-carrusel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 10px;
    background-color: #31b8fc;
    position: relative;
}

.seccion-carrusel img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.3s;
    z-index: 1;
}

.carousel-button.prev {
    left: 5%; 
}

.carousel-button.next {
    right: 5%; 
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.8); 
    transform: scale(1.1);
}

.description {
    margin-top: 10px;
    font-size: 1em;
    color: #ffffff;
    text-align: center;
    max-width: 80%;
}

/* Responsivo para pantallas más pequeñas */
@media (max-width: 768px) {
    .seccion-carrusel img {
        max-width: 90%;
    }

    .carousel-button {
        width: 30px;
        height: 30px;
        font-size: 1.2em;
    }

    .description {
        font-size: 0.9em;
    }
}
